body{
  margin: 0;
}
.boxes{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
.box{
  background: black;
  height: 5vw;
  width: 5%;
  list-style: none;
  transition: .5s;
}

.checkerboard-on{
  display:none;
}
.checkerboard-off{
  display: block;
}


body:hover div:nth-of-type(odd) li:first-child{
  background-color: green;
}


body:hover div:nth-of-type(odd) li:nth-of-type(even){
  background: green;
  transform: rotate(90deg);
  transform-origin: 100% 100%;

}

body:hover div:nth-of-type(even) li:nth-of-type(odd){
  background: green;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

body:hover .checkerboard-off {
    display: none;
}
body:hover .checkerboard-on{
    display: block;
}

.mobile-message{
  text-align: center;
}

@media screen and (min-width: 481px) {
  .mobile-message{
    display:none;
  }
}
@media screen and (max-width: 480px) {
  .mobile-message{
    display:block;
  }
}
