body{
  margin: 0;
}
.boxes{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
.box{
  background: black;
  height: 5vw;
  width: 5%;
  list-style: none;
  transition: .15s;
}


div:nth-of-type(odd) li:nth-of-type(even){
  background: green;
}

div:nth-of-type(even) li:nth-of-type(odd){
  background: green;

}
